/*
*
* CSS Reset
*
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
*
* General Rules  https://codepen.io/wisnust10/pen/mPJwWv
*
*/

body {
	
	
}

.font1 {
	font-family: 'Playball', cursive;
}

.font2 {
	font-family: 'Slabo 27px', serif;
}


.buttonBG{
	background: url('./../img/nb.jpg') no-repeat;
	background-size: 100% 100%;
	cursor:pointer;
	border: none;
}

/* This is for Index.HTML  */

div#landing {
	width: 100%;
	height: 100vh;
	background-image: url('./../img/landing_page/landing_page_blur.jpg');
	background-size: 100% 100%;
	position: fixed;
}

div#landing > div#content {
	position: absolute;
	margin-top: 15%;
	background-color: rgba(0, 0, 0, 0.5);
}


div#landing > div > h1 {
	font-family: 'Playball', cursive;
	/*font-size: 100%;*/
	/*line-height: 130px;*/
	font-weight: normal;
	font-style: normal;
	color: #e9b947;
	text-shadow: 0 0 3px #f0fa04;
	/*margin-top: 25%;*/
	text-align: center;
}

div#landing > div > p {
	font-family: 'Slabo', serif;
	/* font-size: 28px; */
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
	/* width: 40%; */
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}


div#landing > div > a {
	margin-left: 20%;
	margin-right: 20%;
}



/* This is for home.html */

header#mainHeader {
	width: 100%;
	height: 50vh;
	background-color: red;
}

.home-bg-image {
	background-image: url('./../img/home_page/home_banner.jpg');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
}


header#mainHeader > h1 {
	font-family: 'Playball', cursive
	color: white;
	text-shadow: 0 0 5px #f0fa04;
}

header#mainHeader > nav {
	font-family: 'Slabo 27px', serif;
	text-transform: uppercase;
	
}

a {
	color: white;
}

a:hover {
	color: #daae4f;
}


/*Main Wrapper*/


main#wrapper > div > div > div > img {
	width: 100%;
	height: 200px;
}