/*
*
* CSS Reset
*
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
*
* General Rules
*
*/


body, html {
	height: 100%;
}

/*
*
*  Code for Parallax Effect Background
*
*/

.bg-1, .bg-2, .bg-3 {
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bg-1 {
	background-image: url('./../img/parallax/bg1.jpg');
	min-height: 100%;
	width: 100%;

}

.bg-2 {
	background-image: url('./../img/parallax/bg2.jpg');
	min-height: 400px;
	
	
}

.bg-3 {
	background-image: url('./../img/parallax/bg3.jpg');
	min-height: 400px;

	
}

.ptext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
}


.section{
  text-align:center;
  padding: 50px 80px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.font1 {
	font-family: 'Playball', cursive;
}

.font2 {
	font-family: 'Slabo', serif;
}

/* This is for Index.HTML  */

div#landing {
	width: 100%;
	height: 100vh;
	background-image: url('./../img/landing_page/landing_page_blur.jpg');
	background-size: 100% 100%;
	position: fixed;
}

div#landing > div#content {
	position: absolute;
	margin-top: 15%;
	background-color: rgba(0, 0, 0, 0.5);
}




div#landing > div > h1 {
	font-family: 'Playball', cursive;
	/*font-size: 100%;*/
	/*line-height: 130px;*/
	font-weight: normal;
	font-style: normal;
	color: #daae4f;
	text-shadow: 0 0 3px #f0fa04;
	/*margin-top: 25%;*/
	
}

div#landing > div > p {
	font-family: 'Slabo', serif;
	/* font-size: 28px; */
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
	/* width: 40%; */
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}


div#landing > div > a {
	margin-left: 20%;
	margin-right: 20%;
}



/* This is for home.html */


header#mainHeader > h3, h1 {
	font-family: 'Playball', cursive
	color: white;
	text-shadow: 0 0 5px #f0fa04;

}

header#mainHeader > nav > div > ul {
	font-family: 'Slabo 27px', serif;
	text-transform: uppercase;
	color: white;
	margin-left: 10px;
}


/*
a {
	color: white;
}
*/


a:hover {
	color: #daae4f;
}


/*Main Wrapper*/


main#wrapper > div > div > div > img {
	width: 100%;
	height: 200px;
}






/* This is for contact */


/* Media Query*/


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	header#mainHeader > h3 {
        font-size: 14px;
    }

      .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

	header#mainHeader > h3 {
        font-size: 14px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}