/*
*
* CSS Reset
*
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
*
* General Rules  https://codepen.io/wisnust10/pen/mPJwWv
*
*/

body {
	
	
}

header#mainHeader {
	width: 100%;
	height: 

}

header#mainHeader > h1 {
	font-family: 'Playball', cursive;
}

header#mainHeader > nav {
	font-family: 'Slabo 27px', serif;
	text-transform: uppercase;
}